*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar-up{
    height: 32px;
    width: 100%;
    background-color: black;
}

.navbar-up-left{
    height: 32px;
    width: 330px;
}

.navbar-up-left i{
    color: #ffb342;
    font-size: 18px;
    margin-top: 7px;
    margin-left: 10px;
}

.navbar-up-left span{
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
}


.navbar-up-right{
    height: 50px;
    width: 350px;
    position: absolute;
    display: flex;
    left: 70%;
    top: -1%;
    color: white;
    padding-left: 100px;
}

body{
    overflow-x: hidden;
}

.navbar-up-right-lang{
    height: 50px;
    width: 80px;
    padding-top: 9px;
    padding-left: 5px;
}

.navbar-up-right-lang span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 12px;
    font-size: 13px;
}

.navbar-up-right-lang i{
    font-size: 13px;
    cursor: pointer;
}



.navbar-up-right-currency{
    height: 50px;
    width: 60px;
    padding-top: 9px;
    padding-left: 5px;
}

.navbar-up-right-currency span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 12px;
    font-size: 13px;
}

.navbar-up-right-currency i{
    font-size: 13px;
    cursor: pointer;
}

.navbar-up-right-setting{
    height: 50px;
    width: 80px;
    padding-top: 9px;
    padding-left: 5px;
}


.navbar-up-right-setting span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 12px;
    font-size: 13px;
}

.navbar-up-right-setting i{
    font-size: 13px;
    cursor: pointer;
}



.navbar-middle{
    height: 100px;
    width: 100%;
    border: 1px solid black;
}

.navbar-middle-img{
    margin-top: 30px;
    margin-left: 10px;
}


.navbar-middle-search {
    height: 70px;
    width: 570px;
    position: absolute;
    left: 27%;
    top: 7%;
    padding-top: 10px;
    padding-left: 20px;
}


.navbar-middle-search input {
    height: 45px;
    width: 490px;
    padding-left: 20px;
    background-color: #f8f8f8;
    font-family: auto;
    border: none;
    font-size: 16px;
    position: relative;
}

.navbar-middle-search .search {
    position: absolute;
    left: 81%;
    font-size: 22px;
    color: gray;
    top: 28%;
    cursor: pointer;
    transition: all 0.4s ease;
}


.navbar-middle-search .search:hover {
    color: #0989ff;
}


.navbar-middle-user{
    height: 60px;
    width: 200px;
    position: absolute;
    top: 7%;
    left: 68%;
}

.navbar-middle-user i{
    margin-top: 10px;
    margin-left: 16px;
    font-size: 21px;
    border: 1px solid gray;
    padding: 8px 9px;
    border-radius: 50%;
}

.navbar-middle-user span{
    font-size: 11px;
    color: gray;
    font-weight: 600;
    position: absolute;
    top: 20%;
    left: 30%;
}

.navbar-middle-user h6{
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    top: 52%;
    left: 29%;
}

.navbar-middle-direction {
    height: 30px;
    width: 27px;
    position: absolute;
    left: 80%;
    top: 10%;
    display: flex;
    padding-top: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}


.navbar-middle-direction:hover {
    color: #0989ff;
}

.navbar-middle-direction i {
    font-size: 18px;
}



.navbar-middle-favourite {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 83%;
    top: 9%;
}


.navbar-middle-favourite i {
    font-size: 22px;
    padding-top: 8px;
    padding-left: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-middle-favourite i:hover {
    color: #0989ff;
}

.navbar-middle-favourite h6 {
    background-color: #fd4b6b;
    color: white;
    width: 19px;
    height: 19px;
    padding-left: 5px;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 48%;
}


.navbar-middle-shopping {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 86%;
    top: 9%;
}


.navbar-middle-shopping i {
    font-size: 22px;
    padding-top: 8px;
    padding-left: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.navbar-down-shopping i:hover {
    color: #0989ff;
}

.navbar-middle-shopping h6 {
    background-color: #fd4b6b;
    color: white;
    width: 19px;
    height: 19px;
    padding-left: 5px;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 48%;
}



.navbar-down{
    height: 55px;
    width: 100%;
    border: 1px solid black;
}

.dropdown-toggle{
    border-radius: 0%;
    height: 55px;
    width: 320px;
    background-color: #0989ff;
}


.navbar-down-link {
    height: 70px;
    width: 550px;
    display: flex;
    position: absolute;
    left: 33%;
    top: 17.5%;
}


.navbar-down-link ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.navbar-down-link ul li a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    transition: all 0.4s ease;
}

.navbar-down-link ul li a:hover {
    color: #0989ff;
}

.navbar-down-link ul li a i {
    font-size: 13px;
}

.navbar-down-phone{
    height: 65px;
    width: 180px;
    position: absolute;
    left: 78%;
    top: 17%;
    padding-top: 10px;
}

.navbar-down-phone i{
    color: #0989ff;
    font-size: 20px;
    position: absolute;
    top: 38%;
}

.navbar-down-phone span{
    font-size: 12px;
    font-weight: 600;
    margin-left: 35px;
}

.navbar-down-phone h6{
    margin-left: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar-down-phone h6:hover{
    color: #0989ff;
}





/* ------------ main ------------- */


#slider-entry{
    height: 520px;
    width: 100%;
}


#products{
    height: 330px;
    width: 100%;
    display: flex;
}


.products-box{
    margin-top: 30px;
    margin-left: 14px;
    height: 270px;
    width: 240px;
}

.products-box:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.products-box-img{
    background-color: #BDDEFF;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    padding: 36px 55px;
    margin: 0 auto;

}

.products-box h5{
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease;
}

.products-box h5:hover{
    color: #0989ff;
}

.products-box span{
    color: gray;
    margin-left: 80px;
}


#products-information{
    height: 200px;
    width: 100%;
    display: flex;
}


.products-info-box{
    position: relative;
    height: 110px;
    width: 300px;
    margin-top: 10px;
    padding-top: 22px;
    padding-left: 32px;
    background-color: #f6f7f9;
}

.products-info-box i{
    font-size: 30px;
    color: #fd4b6b;
}

.products-info-box h5{
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.products-info-box h6{
    margin-left: 50px;
    font-size: 15px;
    color: gray;
    font-weight: 400;
}



#trend-products{
    height: 1200px;
    width: 100%;
}

.trend-products-header{
    height: 100px;
    position: relative;
}

.trend-products-header h1{
    margin-top: 20px;
}

.trend-products-header svg{
    color: #fd4b6b;
    position: absolute;
    top: 40%;
    z-index: -1;
}

.trend-products-header p{
    height: 2px;
    width: 420px;
    position: absolute;
    background-color: lightgray;
    border-radius: 10px;
    left: 33%;
    top: 50%;
}

.trend-products-header ul{
    display: flex;
    list-style: none;
    position: absolute;
    left: 70%;
    top: 35%;
}

.trend-products-header ul li{
    font-size: 20px;
    font-weight: 500;
    margin-left: 35px;
}


.trend-products-box{
    height: 400px;
    width: 330px;
}


.product-box{
    height: 480px;
    width: 320px;
    margin-top: 20px;
    cursor: pointer;
}

.product-box:hover ul{
    transform: translate(-120%,0%);
    
}

.product-box-image{
    height: 350px;
    width: 100%;
    position: relative;
    overflow: hidden;   
}

.product-box-image img{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 0;
}


.product-box-image ul{
    position: absolute;
    top: 35%;
    left: 100%;   
    transform: translate(0%,0%);
    list-style: none;
    transition: all 0.5s ease;
}


.product-box-image ul li{
    box-shadow: 0px 0px 6px gray;
    background-color: white;
    margin: 10px 0px;
    border-radius: 50%;
}

.product-box-image ul li i{
    color: black;
}

.product-box-image ul li i{
    padding: 12px 10px;
}

.product-box-text{
    padding-left: 15px;
    
}


.product-box-text h4{
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.product-box-text h4:hover{
    color: #0989ff;
}
.product-box-text h6{
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.product-box-text h6:hover{
    color: #0989ff;
}

.product-box-text i{
    color: #ffb21d;
    font-size: 14px;
}


#trends-reklam{
    height: 400px;
    width: 100%;
}

.reklam-left{
    height: 280px;
    margin-top: 40px;
    background: url(../images/product-banner-1.jpg);
    background-size: contain;
    border-radius: 10px;
    position: relative;
}



.reklam-left span{
    position: absolute;
    top: 20%;
    left: 7%;
    font-weight: 600;
    color: gray;
}

.reklam-left h4{
    position: absolute;
    top: 30%;
    left: 7%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.reklam-left h4:hover{
    color: #0989ff;
}

.reklam-left a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: 61%;
    left: 7%;
    transition: all 0.3s ease;
}

.reklam-left a:hover{
    color: #0989ff;
}

.reklam-right{
    height: 280px;
    margin-top: 40px;
    border-radius: 10px;
    background: url(../images/product-banner-2.jpg);
    position: relative;
}

.reklam-right h5{
    line-height: 30px;
    position: absolute;
    top: 22%;
    left: 8%;
}

.reklam-right span{
    font-weight: 600;
    position: absolute;
    top: 48%;
    left: 8%;
}

.reklam-right a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: 61%;
    left: 8%;
    transition: all 0.3s ease;
}

.reklam-right a:hover{
    color: #0989ff;
}



#deal-products{
    height: 800px;
    background-color: #ecf2f7;
}


.deal-box{
    height: 700px;
    display: flex;
}
.deal-products-header{
    height: 100px;
    position: relative;
}

.deal-products-header h1{
    margin-top: 20px;
}

.deal-products-header svg{
    color: #fd4b6b;
    position: absolute;
    top: 40%;
}

.deal-products-header p{
    height: 2px;
    width: 420px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    left: 33%;
    top: 50%;
}

.deal-products-header .btn{
    height: 44px;
    width: 200px;
    position: absolute;
    left: 78%;
    top: 35%;
    transition: all 0.4s ease;
}


.deal-products-header .btn:hover{
    background-color: black;
    color: white;
}



.deal-trend-products-box{
    height: 400px;
    width: 330px;
}


.deal-product-box{
    height: 600px;
    width: 410px;
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
}

.deal-product-box:hover ul{
    transform: translate(-120%,0%);
    
}

.deal-product-box-image{
    height: 420px;
    width: 100%;
    position: relative;
    overflow: hidden;   
}

.deal-product-box-image img{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 0;
}


.deal-product-box-image ul{
    position: absolute;
    top: 35%;
    left: 100%;   
    transform: translate(0%,0%);
    list-style: none;
    transition: all 0.5s ease;
}


.deal-product-box-image ul li{
    box-shadow: 0px 0px 6px gray;
    background-color: white;
    margin: 10px 0px;
    border-radius: 50%;
}

.deal-product-box-image ul li i{
    color: black;
}

.deal-product-box-image ul li i{
    padding: 12px 10px;
}

.deal-product-box-text{
    padding-left: 15px;
    margin-top: 50px;
    
}


.deal-product-box-text h4{
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.deal-product-box-text h4:hover{
    color: #0989ff;
}
.deal-product-box-text h6{
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.deal-product-box-text h6:hover{
    color: #0989ff;
}

.deal-product-box-text i{
    color: #ffb21d;
    font-size: 14px;
}


#gadgets{
    height: 1100px;
    display: flex;
}

.gadgets-left{
    height: 880px;
    width: 450px;
    position: sticky;
    top: 0;
}

.gadgest-left-up{
    height: 400px;
    width: 400px;
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 10px;
    position: relative;
    border: 3px solid #fd4b6b;
    overflow: hidden;
}

.gadgest-left-up img{
    position: absolute;
    left: 55%;
    top: 28%;
}

.gadgest-left-up h4{
    position: absolute;
    left: 8%;
    top: 10%;
}

.gadgest-left-up p{
    position: absolute;
    height: 2px;
    width: 170px;
    background-color: #0989ff;
    top: 28%;
    left: 8%;
}

.gadgest-left-up ul{
    margin-top: 130px;
}
.gadgest-left-up ul li{
    font-weight: 600;
    list-style: none;
    margin-top: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.4s ease;
    color: gray;
}

.gadgest-left-up ul li:hover{
    color: #0989ff;
}
.gadgest-left-up a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-left: 30px;
    transition: all 0.4s ease;
}

.gadgest-left-up a:hover{
    color: #0989ff;
}


.gadgest-left-down{
    padding-top: 55px;
    height: 180px;
    width: 400px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 10px;
    background: url(../images/gadget-banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.gadgest-left-down span{
    color: white;
    font-weight: 600;
    margin-left: 40px;
}

.gadgest-left-down h5{
    color: white;
    margin-left: 40px;
    margin-top: 8px;
}

.gadgets-boxes{
    display: flex;
}



.gadgets-right{
    height: 1000px;
    width: 900px;
}




#slider-end{
    height: 500px;
}

.slider-end-box{
    height: 450px;
    width: 1250px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    border: 1px solid black;
    background-color: #0989ff;
}


.slider-end-box h4{
    color: whitesmoke;
    position: absolute;
    top: 20%;
    left: 7%;
    font-size: 15px;
}

.slider-end-box h1{
    color: whitesmoke;
    position: absolute;
    font-weight: 700;
    font-size: 50px;
    top: 26%;
    left: 7%;
}


.slider-end-box h3{
    color: white;
    position: absolute;
    font-size: 40px;
    left: 7%;
    top: 63%;
}

.slider-end-box h6{
    color: lightgray;
    position: absolute;
    left: 7.2%;
    top: 58%;
    text-decoration: line-through;
}

.slider-end-box img{
    position: absolute;
    left: 62%;
    top: 10%;
}

.slider-end-box .btn{
    height: 50px;
    width: 150px;
    position: absolute;
    left: 6.8%;
    top: 76%;
    transition: all 0.3s ease;
}

.slider-end-box .btn:hover{
    background-color: white;
    color: black;
}


#arrivals{
    height: 650px;
}


#social-media{
    height: 400px;
}

.media-box-one{
    height: 280px;
    width: 250px;
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 10px;
    background: url(../images/instagram-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.media-box-two{
    height: 280px;
    width: 250px;
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 10px;
    background: url(../images/instagram-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.media-box-three{
    height: 280px;
    width: 250px;
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 10px;
    background: url(../images/instagram-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.media-box-four{
    height: 280px;
    width: 250px;
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 10px;
    background: url(../images/instagram-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



#footer{
    background-color: #f4f7f9;
}


#end{
    margin-top: 100px;
    height: 500px;
    background-color: #f4f7f9;
}

.end-up{
    height: 450px;
}


.end-up-one{
    height: 250px;
    width: 300px;
    margin-left: 120px;
}

.end-up-one img{
    margin-top: 70px;
}

.end-up-one h6{
    margin-top: 15px;
    font-family: "Jost", sans-serif;
    font-size: 18px;
}


.end-up-one-socmedia i{
    height: 33px;
    width: 33px;
    margin-top: 10px;
    border: 1px solid lightgray;
    padding-left: 8px;
    padding-top: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.end-up-one-socmedia i:hover{
    background-color: #0989ff;
    color: white;
}


.end-up-two{
    height: 350px;
    width: 300px;
    margin-left: 120px;
}

.end-up-two a{
    text-decoration: none;
    color: #55585B;
    font-weight: 600;
    transition: all 0.3s ease;
}

.end-up-two a:hover{
    color: #0989ff;
}

.end-up-two li{
    list-style: none;
    margin-top: 10px;
}


.end-up-two h5{
    font-size: 23px;
    margin-top: 60px;
    margin-left: 30px;
}




.end-up-three{
    height: 350px;
    width: 300px;
    margin-left: 50px;
}

.end-up-three a{
    text-decoration: none;
    color: #55585B;
    font-weight: 600;
    transition: all 0.3s ease;
}

.end-up-three a:hover{
    color: #0989ff;
}

.end-up-three li{
    list-style: none;
    margin-top: 10px;
}


.end-up-three h5{
    font-size: 23px;
    margin-top: 60px;
    margin-left: 30px;
}


.end-up-four{
    height: 350px;
    width: 300px;
}

.end-up-four h5{
    font-size: 23px;
    margin-top: 60px;
    margin-left: 30px;
}

.end-up-four span{
    margin-left: 30px;
    font-size: 13px;
}


.end-up-four h4{
    margin-left: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.end-up-four h4:hover{
    color: #0989ff;
}


.end-up-four .fa-regular{
    margin-left: 30px;
    margin-top: 15px;
}

.end-up-four h6{
    display: inline-block;
    color: #55585B;
    font-size: 14px;
    margin-left: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.end-up-four h6:hover{
    color: #0989ff;
}


.end-up-four h3{
    font-size: 13px;
    display: inline-block;
    color: #55585B;
    font-size: 14px;
    margin-left: 54px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 8px;
}


.end-up-four h3:hover{
    color: #0989ff;
}

.end-up-four .fa-solid{
    margin-top: 20px;
}


.end-down h6{
    position: relative;
    display: inline-block;
    margin-left: 118px;
    color: #55585B;
}

.end-down img{
    position: absolute;
    left: 77%;
}

