*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row{
    margin: 0;
}

.navbar-up{
    height: 50px;
    border: 1px solid lightgray;
    position: relative;
}


.navbar-up-left{
    height: 50px;
    width: 390px;
    margin-left: 125px;
}


.navbar-up-left-social{
    height: 50px;
    width: 150px;
    display: flex;
}

.navbar-up-left-social i{
    margin-top: 15px;
    color: #0989ff;
}

.navbar-up-left-social h6{
    margin-top: 15px;
    margin-left: 9px;
    color: #55585B;
    font-family: "Jost", sans-serif;;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 14px;
}


.navbar-up-left-social h6:hover{
    color: #0989ff;
}





.navbar-up-left-phone{
    height: 50px;
    width: 200px;
    display: flex;
}


.navbar-up-left-phone i{
    margin-top: 15px;
    color: #0989ff;
}


.navbar-up-left-phone h6{
    margin-top: 15px;
    margin-left: 9px;
    color: #55585B;
    font-family: "Jost", sans-serif;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 14px;
}

.navbar-up-left-phone h6:hover{
    color: #0989ff;
}




.navbar-up-right{
    height: 50px;
    width: 350px;
    position: absolute;
    display: flex;
    left: 70%;
    padding-left: 100px;
}



.navbar-up-right-lang{
    height: 50px;
    width: 80px;
    padding-top: 9px;
    padding-left: 5px;
}

.navbar-up-right-lang span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 12px;
    font-size: 13px;
}

.navbar-up-right-lang i{
    font-size: 13px;
    cursor: pointer;
}



.navbar-up-right-currency{
    height: 50px;
    width: 60px;
    padding-top: 9px;
    padding-left: 5px;
}

.navbar-up-right-currency span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 12px;
    font-size: 13px;
}

.navbar-up-right-currency i{
    font-size: 13px;
    cursor: pointer;
}

.navbar-up-right-setting{
    height: 50px;
    width: 80px;
    padding-top: 9px;
    padding-left: 5px;
}


.navbar-up-right-setting span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 12px;
    font-size: 13px;
}

.navbar-up-right-setting i{
    font-size: 13px;
    cursor: pointer;
}


.navbar-down{
    height: 75px;
    width: 100%;
    box-shadow: 0px 1px 3px gray;
    display: flex;
    position: fixed;
    background-color: white;
}



.navbar-down-logo{
    height: 65px;
    padding-top: 16px;
    padding-left: 15px;
}


.navbar-down-link{
    height: 65px;
    width: 530px;
}


.navbar-down-link ul{
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.navbar-down-link ul li a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.navbar-down-link ul li a:hover{
    color: #0989ff;
}


.navbar-down-link ul li a i{
    font-size: 13px;
}

.blog-box{
    height: 140px;
    width: 175px;
    position: absolute;
    top: 90%;
    left: 69%;
    padding-top: 18px;
    padding-left: 14px;
    background-color: white;
    box-shadow: 0px 0px 4px gray;
    transition: all 0.8s ease;
    z-index: 4;
}



.blog-box h6{
    font-size: 14px;
    color: #55585b;
    cursor: pointer;
    transition: all 0.4s ease;
}


.blog-box h6:hover{
    color: #821F40;
}


.navbar-down-search{
    height: 70px;
    width: 400px;
    position: absolute;
    left: 58%;
    padding-top: 10px;
    padding-left: 20px;
}


.navbar-down-search input{
    height: 45px;
    width: 350px;
    padding-left: 20px;
    background-color: #f8f8f8;
    font-family: auto;
    border: none;
    font-size: 16px;
    position: relative;
}

.navbar-down-search .search{
    position: absolute;
    left: 81%;
    font-size: 22px;
    color: gray;
    top: 28%;
    cursor: pointer;
    transition: all 0.4s ease;
}


.navbar-down-search .search:hover{
    color: #0989ff;
}


.navbar-down-direction{
    height: 30px;
    width: 27px;
    position: absolute;
    left: 83%;
    top: 30%;
    display: flex;
    padding-top: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}


.navbar-down-direction:hover{
    color: #0989ff;
}

.navbar-down-direction i{
    font-size: 18px;
}


.navbar-down-favourite{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 86%;
    top: 22%;
}


.navbar-down-favourite i{
    font-size: 22px;
    padding-top: 8px;
    padding-left: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-down-favourite i:hover{
    color: #0989ff;
}

.navbar-down-favourite h6{
    background-color: #0989ff;
    color: white;
    width: 19px;
    height: 19px;
    padding-left: 5px;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 48%;
}



.navbar-down-shopping{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 89%;
    top: 22%;
}


.navbar-down-shopping i{
    font-size: 22px;
    padding-top: 8px;
    padding-left: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.navbar-down-shopping i:hover{
    color: #0989ff;
}

.navbar-down-shopping h6{
    background-color: #0989ff;
    color: white;
    width: 19px;
    height: 19px;
    padding-left: 5px;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 48%;
}



#header{
    height: 100px;
    margin-top: 180px;
}

#header h1{
    text-align: center;
}

.header-account{
    display: flex;
    height: 40px;
    position: relative;
}

.header-account h6{
    color: #55585B;
}

.header-account .home{
    position: absolute;
    left: 44.9%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-account .point{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: lightgray;
    position: absolute;
    left: 48.2%;
    top: 19%;
}

.header-account .home:hover{
    color: #0989ff;
}

.header-account .account{
    position: absolute;
    left: 49.1%;
}


#login-box{
    height: 560px;
    width: 620px;
    margin: 0 auto;
    box-shadow: 0px 0px 25px lightgray;
    margin-bottom: 120px;
}


.login-box-header{
    height: 70px;
    width: 380px;
    margin-left: 110px;
    margin-top: 50px;
}


.login-box-header h4{
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 26px;
    font-weight: 500;
}

.login-box-header span{
    font-weight: 400;
    font-size: 16px;
    color: #49535b;
    font-family: ui-monospace;
    margin-left: 50px;
}

.login-box-header a{
    font-weight: 400;
    font-size: 16px;
    font-family: ui-monospace;
    text-decoration: none;
    margin-left: 5px;
}


.login-box-link{
    height: 90px;
    width: 500px;
    margin-left: 56px;
    margin-top: 10px;
    display: flex;
}


.box-link-google{
    height: 50px;
    width: 210px;
    border: 1px solid lightgray;
    margin-top: 15px;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box-link-google:hover{
    border: 1px solid black;
}

.box-link-google span{
    margin-left: 8px;
    color: black;
}


.box-link-facebook{
    height: 50px;
    width: 100px;
    border: 1px solid lightgray;
    margin-top: 15px;
    margin-left: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box-link-facebook:hover{
    border: 1px solid black;
}

.box-link-facebook img{
    margin-top: 13px;
    margin-left: 38px;
}


.box-link-apple{
    height: 50px;
    width: 100px;
    border: 1px solid lightgray;
    margin-top: 15px;
    margin-left: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.box-link-apple img{
    margin-top: 10px;
    margin-left: 38px;
}


.box-link-apple:hover{
    border: 1px solid black;
}


.login-box-line{
    height: 50px;
    display: flex;
    position: relative;
}

.login-box-line span{
    font-size: 13px;
    margin-left: 15px;
    color: #49535b;
    position: absolute;
    left: 37%;
    top: 31%;
    font-family: revert;
}

.line-left{
    height: 1px;
    width: 182px;
    background-color: lightgray;
    margin-top: 27px;
    margin-left: 48px;
}

.line-right{
    height: 1px;
    width: 182px;
    background-color: lightgray;
    margin-top: 27px;
    margin-left: 144px;
}


.login-box-info{
    height: 180px;
    width: 550px;
    margin-left: 30px;
    padding-left: 20px;
}

.login-box-info h6{
    font-size: 13px;
    margin-top: 10px;
}


.login-box-info .email{
    height: 45px;
    width: 500px;
    padding-left: 14px;
}

.login-box-info .password{
    height: 45px;
    width: 500px;
    padding-left: 14px;
}


.form-check{
    margin-top: 15px;
    display: inline-block;
}

.login-box-info a{
    text-decoration: none;
    margin-left: 245px;
}

.login-box-button{
    margin-top: 15px;
}

.login-box-button button{
    width: 505px;
    height: 50px;
    border-radius: 0%;
    border: none;
    transition: all 0.3s ease;
}

.login-box-button button:hover{
    background-color: #0989ff;
}



#footer{
    background-color: #f4f7f9;
}


#end{
    margin-top: 100px;
    height: 500px;
    background-color: #f4f7f9;
}

.end-up{
    height: 450px;
}


.end-up-one{
    height: 250px;
    width: 300px;
    margin-left: 120px;
}

.end-up-one img{
    margin-top: 70px;
}

.end-up-one h6{
    margin-top: 15px;
    font-family: "Jost", sans-serif;
    font-size: 18px;
}


.end-up-one-socmedia i{
    height: 33px;
    width: 33px;
    margin-top: 10px;
    border: 1px solid lightgray;
    padding-left: 8px;
    padding-top: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.end-up-one-socmedia i:hover{
    background-color: #0989ff;
    color: white;
}


.end-up-two{
    height: 350px;
    width: 300px;
    margin-left: 120px;
}

.end-up-two a{
    text-decoration: none;
    color: #55585B;
    font-weight: 600;
    transition: all 0.3s ease;
}

.end-up-two a:hover{
    color: #0989ff;
}

.end-up-two li{
    list-style: none;
    margin-top: 10px;
}


.end-up-two h5{
    font-size: 23px;
    margin-top: 60px;
    margin-left: 30px;
}




.end-up-three{
    height: 350px;
    width: 300px;
    margin-left: 50px;
}

.end-up-three a{
    text-decoration: none;
    color: #55585B;
    font-weight: 600;
    transition: all 0.3s ease;
}

.end-up-three a:hover{
    color: #0989ff;
}

.end-up-three li{
    list-style: none;
    margin-top: 10px;
}


.end-up-three h5{
    font-size: 23px;
    margin-top: 60px;
    margin-left: 30px;
}


.end-up-four{
    height: 350px;
    width: 300px;
}

.end-up-four h5{
    font-size: 23px;
    margin-top: 60px;
    margin-left: 30px;
}

.end-up-four span{
    margin-left: 30px;
    font-size: 13px;
}


.end-up-four h4{
    margin-left: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.end-up-four h4:hover{
    color: #0989ff;
}


.end-up-four .fa-regular{
    margin-left: 30px;
    margin-top: 15px;
}

.end-up-four h6{
    display: inline-block;
    color: #55585B;
    font-size: 14px;
    margin-left: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.end-up-four h6:hover{
    color: #0989ff;
}


.end-up-four h3{
    font-size: 13px;
    display: inline-block;
    color: #55585B;
    font-size: 14px;
    margin-left: 54px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 8px;
}


.end-up-four h3:hover{
    color: #0989ff;
}

.end-up-four .fa-solid{
    margin-top: 20px;
}


.end-down h6{
    position: relative;
    display: inline-block;
    margin-left: 118px;
    color: #55585B;
}

.end-down img{
    position: absolute;
    left: 77%;
}
