* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row {
    margin: 0;
}

.navbar-up {
    height: 50px;
    border: 1px solid lightgray;
    position: relative;
}


.navbar-up-left {
    height: 50px;
    width: 390px;
    margin-left: 125px;
}


.navbar-up-left-social {
    height: 50px;
    width: 150px;
    display: flex;
}

.navbar-up-left-social i {
    margin-top: 15px;
    color: #0989ff;
}

.navbar-up-left-social h6 {
    margin-top: 15px;
    margin-left: 9px;
    color: #55585B;
    font-family: "Jost", sans-serif;
    ;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 14px;
}


.navbar-up-left-social h6:hover {
    color: #0989ff;
}





.navbar-up-left-phone {
    height: 50px;
    width: 200px;
    display: flex;
}


.navbar-up-left-phone i {
    margin-top: 15px;
    color: #0989ff;
}


.navbar-up-left-phone h6 {
    margin-top: 15px;
    margin-left: 9px;
    color: #55585B;
    font-family: "Jost", sans-serif;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 14px;
}

.navbar-up-left-phone h6:hover {
    color: #0989ff;
}




.navbar-up-right {
    height: 50px;
    width: 350px;
    position: absolute;
    display: flex;
    left: 70%;
    padding-left: 100px;
}



.navbar-up-right-lang {
    height: 50px;
    width: 80px;
    padding-top: 9px;
    padding-left: 5px;
}

.navbar-up-right-lang span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 12px;
    font-size: 13px;
}

.navbar-up-right-lang i {
    font-size: 13px;
    cursor: pointer;
}



.navbar-up-right-currency {
    height: 50px;
    width: 60px;
    padding-top: 9px;
    padding-left: 5px;
}

.navbar-up-right-currency span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 12px;
    font-size: 13px;
}

.navbar-up-right-currency i {
    font-size: 13px;
    cursor: pointer;
}

.navbar-up-right-setting {
    height: 50px;
    width: 80px;
    padding-top: 9px;
    padding-left: 5px;
}


.navbar-up-right-setting span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-top: 12px;
    font-size: 13px;
}

.navbar-up-right-setting i {
    font-size: 13px;
    cursor: pointer;
}


.navbar-down {
    height: 75px;
    box-shadow: 0px 1px 3px gray;
    display: flex;
    position: relative;
}


.navbar-down-logo {
    height: 70px;
    width: 150px;
    padding-top: 15px;
    position: absolute;
    left: 9.8%;
}


.navbar-down-link {
    height: 70px;
    width: 550px;
    display: flex;
    position: absolute;
    left: 19%;
}


.navbar-down-link ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.navbar-down-link ul li a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    transition: all 0.4s ease;
}

.navbar-down-link ul li a:hover {
    color: #0989ff;
}


.navbar-down-link ul li a i {
    font-size: 13px;
}


.blog-box {
    height: 140px;
    width: 175px;
    position: absolute;
    top: 90%;
    left: 69%;
    padding-top: 18px;
    padding-left: 14px;
    background-color: white;
    box-shadow: 0px 0px 4px gray;
    transition: all 0.8s ease;
    z-index: 4;
}



.blog-box h6 {
    font-size: 14px;
    color: #55585b;
    cursor: pointer;
    transition: all 0.4s ease;
}


.blog-box h6:hover {
    color: #821F40;
}


.navbar-down-search {
    height: 70px;
    width: 400px;
    position: absolute;
    left: 54%;
    padding-top: 10px;
    padding-left: 20px;
}


.navbar-down-search input {
    height: 45px;
    width: 350px;
    padding-left: 20px;
    background-color: #f8f8f8;
    font-family: auto;
    border: none;
    font-size: 16px;
    position: relative;
}

.navbar-down-search .search {
    position: absolute;
    left: 81%;
    font-size: 22px;
    color: gray;
    top: 28%;
    cursor: pointer;
    transition: all 0.4s ease;
}


.navbar-down-search .search:hover {
    color: #0989ff;
}


.navbar-down-direction {
    height: 30px;
    width: 27px;
    position: absolute;
    left: 80%;
    top: 30%;
    display: flex;
    padding-top: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}


.navbar-down-direction:hover {
    color: #0989ff;
}

.navbar-down-direction i {
    font-size: 18px;
}


.navbar-down-favourite {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 83%;
    top: 22%;
}


.navbar-down-favourite i {
    font-size: 22px;
    padding-top: 8px;
    padding-left: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-down-favourite i:hover {
    color: #0989ff;
}

.navbar-down-favourite h6 {
    background-color: #0989ff;
    color: white;
    width: 19px;
    height: 19px;
    padding-left: 5px;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 48%;
}



.navbar-down-shopping {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 86%;
    top: 22%;
}


.navbar-down-shopping i {
    font-size: 22px;
    padding-top: 8px;
    padding-left: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.navbar-down-shopping i:hover {
    color: #0989ff;
}

.navbar-down-shopping h6 {
    background-color: #0989ff;
    color: white;
    width: 19px;
    height: 19px;
    padding-left: 5px;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 48%;
}



#product-image {
    height: 750px;
    width: 700px;
    position: relative;
    margin-left: 100px;
}


.product-image-left {
    height: 340px;
    width: 102px;
    position: absolute;
    left: 5%;
    top: 10%;

}


.product-image-text {
    height: 30px;
    width: 600px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.product-image-text i {
    color: gray;
    margin-left: 22px;
}


.product-image-text a {
    text-decoration: none;
    margin: 0px 6px;
    font-weight: 600;
    color: gray;
    transition: all 0.3s ease;
}

.product-image-text a:hover {
    color: #0989ff;
}

.product-image-left button {
    height: 93px;
    width: 75px;
    display: block;
    margin: 10px 20px;
    border: none;

}

.product-image-left button:hover {
    border: 1px solid black;
}


.product-image-left button img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.product-image-right {
    height: 640px;
    width: 550px;
    position: absolute;
    left: 20%;
    top: 11.34%;
}

.product-image-right img {
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
}


#product-desc {
    height: 960px;
    width: 700px;
    position: relative;
}


.product-name {
    height: 100px;
    width: 350px;
    margin-top: 50px;
    margin-left: 70px;
    padding-top: 33px;
}

.product-name h6 {
    color: gray;
    font-family: sans-serif;
    margin-left: 3px;
}

.product-name h2 {
    line-height: 13px;
    font-weight: 700;
    font-family: sans-serif;
}

.product-stars {
    height: 50px;
    width: 350px;
    margin-left: 70px;
    padding-top: 10px;
}

.product-stars span {
    display: inline-block;
    font-size: 15px;
    margin-right: 6px;
    color: #0989ff;
    background-color: #0989ff0f;
    padding: 4px 12px;
    font-weight: 600;
}

.product-stars i {
    font-size: 13px;
    color: #ffb21d;
}

.product-stars h6 {
    display: inline-block;
    font-size: 14px;
    margin-left: 6px;
    color: gray;
}


.product-info {
    height: 80px;
    width: 500px;
    margin-top: 20px;
    margin-left: 70px;
}

.product-info span {
    color: gray;
    font-family: sans-serif;
}

.product-price {
    height: 45px;
    width: 200px;
    margin-top: 15px;
    margin-left: 70px;
}

.product-price h6 {
    display: inline-block;
    color: gray;
    text-decoration: line-through;
}

.product-price h3 {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
}


.product-color {
    height: 45px;
    width: 150px;
    margin-left: 70px;
}

.product-color h6 {
    padding-top: 10px;
    color: gray;
}


.product-count {
    height: 95px;
    width: 500px;
    margin-left: 70px;
    margin-top: 10px;
    position: relative;
}

.product-count h6 {
    color: gray;
}


.input-group {
    display: inline-flex;
    align-items: center;
    position: absolute;
}

.btn {
    padding: 5px 10px;
    background-color: lightgray;
    color: white;
    border: none;
    cursor: pointer;
}

.input-field {
    width: 50px;
    text-align: center;
    background-color: lightgray;
    padding: 5px;
    border: none;
}


.add-cart-btn{
    position: absolute;
    left: 26%;
    height: 36px;
    width: 355px;
    border: 1px solid gray;
    background-color: white;
    top: 27%;
    transition: all 0.6s ease;
}

.add-cart-btn:hover{
    background-color: black;
    color: white;
}



.product-buy{
    height: 60px;
    width: 500px;
    margin-left: 70px;
}


.buy-button{
    height: 45px;
    width: 484px;
    color: white;
    background-color: #0989ff;
    border: none;
    font-weight: 600;
    transition: all 0.6s ease;
}

.buy-button:hover{
    background-color: black;
}

.product-detail{
    height: 100px;
    width: 300px;
    margin-left: 70px;
}
.product-detail h6{
    color: rgba(29, 29, 29, 0.732);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.product-line{
    height: 2px;
    width: 484px;
    margin-left: 70px;
    background-color: lightgray;
    border-radius: 10px;
}


.product-share{
    height: 65px;
    width: 300px;
    margin-left: 70px;
    margin-top: 10px;
    padding-top: 10px;
}

.product-share span{
    font-weight: 600;
}

.product-share i{
    padding: 8px 9px;
    border-radius: 50%;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: all 0.6s ease;
    margin-left: 1px;
}

.product-share i:hover{
    background-color: #0989ff;
    color: white;
}


.product-rule{
    height: 60px;
    width: 450px;
    margin-left: 70px;
}

.product-rule ul{
    list-style: none;
    padding-left: 0;
    color: #55585B;
    font-family: sans-serif;
    font-size: 15px;
}


.product-payment{
    height: 70px;
    width: 505px;
    margin-left: 65px;
    background-color: #f3f5f6;
}

.product-payment p{
    line-height: 17px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 25px;
    font-family: system-ui;
    font-weight: 600;
    font-size: 15px;
    color: #55585b;
}


.product-payment img{
    margin-left: 60px;
    margin-top: -15px;
}



.information-menu{
    height: 700px;
    width: 100%;
}

.information-button .active{
    text-decoration: underline;
    color: black;
    transition: all 0.8s ease;
}

.information-button{
    height: 100px;
    width: 100%;
    padding-top: 40px;
    padding-left: 31.5%;
}

.information-button button{
    border: none;
    background-color: white;
    margin-left: 20px;
    font-size: 20px;
    color: #a0a2a4;
    transition: all 0.5s ease;
}

.information-button button:hover{
    color: black;
}


.information-content{
    height: 700px;
    width: 100%;
}


.content-description{
    height: 400px;
    width: 100%;   
}

.content-description h5{
    font-size: 19px;
    margin-top: 20px;
    margin-left: 40px;
}

.content-description h3{
    margin-left: 40px;
    font-weight: 500;
    font-size: 32px;
}

.content-description h6{
    margin-left: 40px;
    margin-top: 20px;
    line-height: 26px;
    color: #55585b;
}


.content-addinfo{
    height: 450px;
    width: 80%;
    /* border: 1px solid red; */
    margin-left: 115px;
    margin-top: 50px;
    padding: 10px 10px;
}


.content-addinfo .td-title{
    background-color: #f9f9f9;
}

.content-addinfo table{
    height: 400px;
    width: 1010px;
    border: 1px solid lightgray;
}




.content-review{
    height: 680px;
    width: 100%;
    display: flex;
}

.review-left{
    height: 700px;
    width: 50%;
    margin-top: 10px;
}

.review-left-rating{
    height: 300px;
    width: 425px;
    margin-top: 30px;
    margin-left: 40px;
    border: 1px solid lightgray;
    padding: 30px 30px;
}

.review-left-rating h2{
    font-size: 47px;
    display: inline-block;
}

.review-left-rating i{
    color: #ffb21d;
}

.review-left-rating span{
    font-size: 14px;
    color: #55585B;
    font-weight: 600;
}

.progress{
    margin: 15px 0px;
    height: 12px;
    width: 320px;
    border-radius: 0%;
}

.progress-bar{
    background-color: #ffb21d;
}

.review-left h4{
    margin-top: 25px;
    margin-left: 39px;
}


.review-left-comment-one{
    height: 140px;
    width: 550px;
    margin-left: 40px;
    position: relative;
}


.review-left-comment-one img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 30px;
}

.review-left-comment-one  i{
    color: #ffb21d;
    font-size: 12px;
}

.review-left-comment-one h6{
    display: inline-block;
    position: absolute;
    top: 43.5%;
    left: 13.8%;
}

.review-left-comment-one span{
    font-size: 13px;
    font-weight: 600;
    color: #55585b;
    position: absolute;
    top: 44.6%;
    left: 28%;
}

.review-left-comment-one h5{
    display: inline-block;
    font-size: 14px;
    color: #55585b;
    position: absolute;
    top: 63%;
    left: 13.9%;
}




.review-left-comment-two{
    height: 140px;
    width: 550px;
    margin-left: 40px;
    position: relative;
}


.review-left-comment-two img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 30px;
}

.review-left-comment-two  i{
    color: #ffb21d;
    font-size: 12px;
}

.review-left-comment-two h6{
    display: inline-block;
    position: absolute;
    top: 43.5%;
    left: 13.8%;
}

.review-left-comment-two span{
    font-size: 13px;
    font-weight: 600;
    color: #55585b;
    position: absolute;
    top: 43.6%;
    left: 29%;
}

.review-left-comment-two h5{
    display: inline-block;
    font-size: 14px;
    color: #55585b;
    position: absolute;
    top: 63%;
    left: 13.9%;
}



.review-right{
    height: 700px;
    width: 50%;
}

.review-right h6{
    font-size: 14px;
    color: #55585b;
    margin-bottom: 15px;
}

.review-right span{
    font-size: 13px;
    font-weight: 600;
    color: #55585b;
}

.review-right i{
    color: #ffb21d;
    font-size: 12px;
}


.review-right{
    height: 680px;
    width: 800px;
    margin-left: 60px;
    margin-top: 40px;
}

.review-right h5{
    font-size: 13px;
    margin-top: 25px;
}

.review-right .messages{
    height: 170px;
    width: 580px;
    margin-bottom: 10px;
}


.review-right .name{
    height: 45px;
    width: 580px;
    padding: 0px 20px;
}

.review-right h6{
    margin-top: 10px;
    margin-bottom: 5px;
}

.review-right .email{
    height: 45px;
    width: 580px;
    padding: 0px 20px;
}


.review-right .btn{
    border-radius: 0%;
    background-color: #0989ff;
    font-weight: 600;
    height: 50px;
    width: 140px;
    margin-top: 30px;
}



#related-products{
    height: 750px;
}


.related-products-header{
    height: 80px;
    width: 100%;

}

.related-products-header h5{
    text-align: center;
    color: #0989ff;
}

.related-products-header h1{
    text-align: center;
}


.related-products-box{
    height: 550px;
    width: 100%;

}


.products-box-one{
    height: 450px;
    width: 300px;
    margin-top: 50px;
    cursor: pointer;
}


.products-box-one-image{
    height: 340px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.products-box-one:hover ul{
    transform: translate(0%,0%);
}

.products-box-one:hover button{
    transform: translate(0%,0%);
}

.products-box-one-image img{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    z-index: 0;

}

.products-box-one-image h5{
    position: absolute;
    top: 5.5%;
    left: 5.5%;
    background-color: black;
    color: white;
    padding: 10px 5px;
    border-radius: 50%;
}

.products-box-one-image ul{
    position: absolute;
    top: 5%;
    left: 72%;
    list-style: none;
    transform: translate(80%, 0%);
    transition: all 0.5s ease;
}


.products-box-one-image ul li{
    box-shadow: 0px 0px 6px gray;
    background-color: white;
    margin: 5px 0px;
}

.products-box-one-image ul li i{
    color: black;
}

.products-box-one-image ul li i{
    padding: 12px 10px;
}

.products-box-one-image button{
    position: absolute;
    height: 40px;
    width: 300px;
    left: -0.5%;
    top: 88.9%;
    border: none;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
    transform:translate(0%, 105%);
}

.products-box-one-image button:hover{
    background-color: #0989ff;
}


.products-box-one-text{
    height: 110px;
    width: 100%;
}

.products-box-one-text h6{
    font-size: 13px;
    transition: all 0.3s ease;
}


.products-box-one-text h6:hover{
    color: #BD844C;
}

.products-box-one-text h4{
    font-size: 20px;
    transition: all 0.3s ease;
}

.products-box-one-text h4:hover{
    color: #0989ff;
}

.products-box-one-text h5{
    font-size: 18px;
    display: inline-block;
}

.products-box-one-text span{
    text-decoration: line-through;
}






.products-box-two{
    height: 450px;
    width: 300px;
    margin-top: 50px;
    cursor: pointer;
}


.products-box-two-image{
    height: 340px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.products-box-two:hover ul{
    transform: translate(0%,0%);
}

.products-box-two:hover button{
    transform: translate(0%,0%);
}

.products-box-two-image img{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    z-index: 0;

}

.products-box-two-image h5{
    position: absolute;
    top: 5.5%;
    left: 5.5%;
    background-color: black;
    color: white;
    padding: 10px 5px;
    border-radius: 50%;
}

.products-box-two-image ul{
    position: absolute;
    top: 5%;
    left: 72%;
    list-style: none;
    transform: translate(80%, 0%);
    transition: all 0.5s ease;
}


.products-box-two-image ul li{
    box-shadow: 0px 0px 6px gray;
    background-color: white;
    margin: 5px 0px;
}

.products-box-two-image ul li i{
    color: black;
}

.products-box-two-image ul li i{
    padding: 12px 10px;
}

.products-box-two-image button{
    position: absolute;
    height: 40px;
    width: 300px;
    left: -0.5%;
    top: 88.9%;
    border: none;
    background-color: black;
    color: white;
    transition: all 0.5s ease;
    transform:translate(0%, 105%);
}

.products-box-two-image button:hover{
    background-color: #0989ff;
}


.products-box-two-text{
    height: 110px;
    width: 100%;
}

.products-box-two-text h6{
    font-size: 13px;
    transition: all 0.3s ease;
}


.products-box-two-text h6:hover{
    color: #BD844C;
}

.products-box-two-text h4{
    font-size: 20px;
    transition: all 0.3s ease;
}

.products-box-two-text h4:hover{
    color: #0989ff;
}

.products-box-two-text h5{
    font-size: 18px;
    display: inline-block;
}

.products-box-two-text span{
    text-decoration: line-through;
}



#footer{
    background-color: #f4f7f9;
}


#end{
    margin-top: 100px;
    height: 500px;
    background-color: #f4f7f9;
}

.end-up{
    height: 450px;
}


.end-up-one{
    height: 250px;
    width: 300px;
    margin-left: 120px;
}

.end-up-one img{
    margin-top: 70px;
}

.end-up-one h6{
    margin-top: 15px;
    font-family: "Jost", sans-serif;
    font-size: 18px;
}


.end-up-one-socmedia i{
    height: 33px;
    width: 33px;
    margin-top: 10px;
    border: 1px solid lightgray;
    padding-left: 8px;
    padding-top: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.end-up-one-socmedia i:hover{
    background-color: #0989ff;
    color: white;
}


.end-up-two{
    height: 350px;
    width: 300px;
    margin-left: 120px;
}

.end-up-two a{
    text-decoration: none;
    color: #55585B;
    font-weight: 600;
    transition: all 0.3s ease;
}

.end-up-two a:hover{
    color: #0989ff;
}

.end-up-two li{
    list-style: none;
    margin-top: 10px;
}


.end-up-two h5{
    font-size: 23px;
    margin-top: 60px;
    margin-left: 30px;
}




.end-up-three{
    height: 350px;
    width: 300px;
    margin-left: 50px;
}

.end-up-three a{
    text-decoration: none;
    color: #55585B;
    font-weight: 600;
    transition: all 0.3s ease;
}

.end-up-three a:hover{
    color: #0989ff;
}

.end-up-three li{
    list-style: none;
    margin-top: 10px;
}


.end-up-three h5{
    font-size: 23px;
    margin-top: 60px;
    margin-left: 30px;
}


.end-up-four{
    height: 350px;
    width: 300px;
}

.end-up-four h5{
    font-size: 23px;
    margin-top: 60px;
    margin-left: 30px;
}

.end-up-four span{
    margin-left: 30px;
    font-size: 13px;
}


.end-up-four h4{
    margin-left: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.end-up-four h4:hover{
    color: #0989ff;
}


.end-up-four .fa-regular{
    margin-left: 30px;
    margin-top: 15px;
}

.end-up-four h6{
    display: inline-block;
    color: #55585B;
    font-size: 14px;
    margin-left: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.end-up-four h6:hover{
    color: #0989ff;
}


.end-up-four h3{
    font-size: 13px;
    display: inline-block;
    color: #55585B;
    font-size: 14px;
    margin-left: 54px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 8px;
}


.end-up-four h3:hover{
    color: #0989ff;
}

.end-up-four .fa-solid{
    margin-top: 20px;
}


.end-down h6{
    position: relative;
    display: inline-block;
    margin-left: 118px;
    color: #55585B;
}

.end-down img{
    position: absolute;
    left: 77%;
}
